*
!*/
*.Rcheck/
**/__pycache__/
*.ipynb_checkpoints/
.cache/
.pytest_cache/
.mypy_cache/

# Directorios y archivos de entornos virtuales
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

########################
# Archivos que NO ignora

!LICENSE
!license

## Latex
!*.tex
*-concordance.tex
!*.bib
!*.bst
!*.sty
!*.cls

## Codigo
!*.jl
!*.py
!*.R
!*.c
!*.sql

## Texto
!*.md
!*.txt
!*.sh

## Otros
!makefile
!Makefile
!.keep
!.gitkeep
!.gitignore

*-gitignore

